@import 'tailwindcss';
@import 'primeicons/primeicons.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #0b0b0b;
  font-family: 'Figtree', sans-serif !important;
  font-size: 16px;
  color: #fff;
  min-height: 100vh;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-container {
  min-height: 100vh;
  display: flex;
  padding: 0 2em;
}

.back-to-top {
  background: #0b0b0b !important;
  border: 1px solid #142216;
}